<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - Book Quest')" />
	<link rel="stylesheet" href="../css/css.css" th:href="@{/css/css.css}" />
	<link rel="stylesheet" href="../css/usedBook/usedBookHome.css" th:href="@{/css/usedBook/usedBookHome.css}" />

</head>

<body>
	<div th:replace="commonspace :: menu" />

	<div class="container">

		<div id="recommendedArea">
			1. 지점선택(관리자) or 1.판매자 정보 등록하기(일반회원)<br>
			2. 책정보 불러오기<br>
			광고내용 //이번주 중고베스트 // 이번주의 추천 도서 // 이주의 추천저자 // 이주의 외국도서<br>
			6. 중고책 페이지 들어가며 책 리스트 바로 보이게<br>
			 판매할책 등록하기<br>
			amount 테이블 변경해서 price컬럼 추가해서 가격 설정할수 있게하고, 기존 판매가랑 비교해서 보여주기/<br>
			중고책 디테일 페이지<br>
			구매하기, 장바구니
		</div>


		<div id="mainArea">


			<div id="categoriesMenu">
				<label> Category: </label>
				<div th:each="cat : ${categoryList}">
					<a th:href="@{/book(category=${cat.categoryId})}" style="font-size: 0.8rem;">
						[[${cat.name}]]
					</a>
				</div>
			</div>


			<div id="bookList">
				<div>
					<h2>중고책리스트(중고책리스트가아님)</h2>
				</div>
				<div id="bundleBooks">
					<div id="book" th:each="book : ${usedBooks}">
						<a th:href="@{/book/detail(book=${book.bookId})}">
							<img th:src="@{${book.imagePath}}" tilte="${book.image}">
							<div th:text="'[중고]' + ${book.title}" />
							<div th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + '원'}" />
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
	</div>



	<div th:replace="commonspace :: footer" />

</body>

</html>