/* CSS for the divs */
#container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#left {
	width: 70%;
	border: 1px solid blue;
}

#right {
	width: 30%;
	border: 1px solid green;
}


#book {
	display: flex;
	justify-content: space-between;
	margin: 0 7%;
}

#book>a>img {
	width: 100px;
	height: 150px;
	border-radius: 20px;
}

#book>div>div:nth-child(2) {
	color: mediumpurple;
}