#container {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
#left {
   width: 40%;
   border: 1px solid rgb(255, 255, 255);
}

#right {
   width: 60%;
   border: 1px solid rgb(255, 255, 255);
}


th,td {
	border: 1px solid lightseagreen;
}

#title {
	width: 500px;
}

#price {
	width: 300px;
}

#bookQuantity {
	width: 100px;
}

#orderTable {
	max-width: 700px;
	margin: 0 auto;
}

