#recommendedArea {
	height: 200px;
	border: 1px solid cornflowerblue;
}

#mainArea {
	display: flex;
	flex-grow: 1;
}

#categoriesMenu {
	width: 20%;
	border: 1px solid cadetblue;
	margin-bottom: 20px;
}

#categoriesMenu div {
	padding-left: 20px;
}

#bookList {
	width: 80%;
	border: 1px solid powderblue;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

#bookList>div:first-child {
	width: 75%;
	order: -1;

}

#bundleBooks {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
}

#book {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

#book>a>img {
	width: 100px;
	height: 150px;
	border-radius: 20px;
	object-fit: cover;
	overflow: hidden;

}

#book>a>div:nth-child(n+2) {
	margin-left: 20px;
	width: 400px;
	float: right;
}



#priceTable td{
	width:20%;
	border : 1px solid black;
}
