<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - Book Quest')" />
</head>

<body>
	<div th:replace="commonspace :: menu" />

	<div class="container">
		<th:block th:each="book:${books}">
			<a th:href="@{/book/detail(book=${book.bookId})}">
				[[${book.bookId}]]
				<img th:src="@{${book.imagePath}}" style="width:100px;" class="img-fluid" tilte="${book.image}">
				[[${book.title}]]
				[[${book.author}]]
				[[${book.publisher}]]
				[[${book.publicationDate}]]
				[[${book.price}]]
				[[${book.description}]]
				[[${book.image}]]
				<br>
			</a>
		</th:block>
		
		<table class="table table-striped table-hover table-dark">
			<tr th:each="book : ${books}">
				<td>[[${book.bookId}]]</td>
				<td><img th:src="@{${book.imagePath}}" style="width:100px;" class="img-fluid" tilte="${book.image}"></td>
				<td>[[${book.title}]]</td>
				<td>[[${book.author}]]</td>
				<td>[[${book.publisher}]]</td>
				<td>[[${book.publicationDate}]]</td>
				<td>[[${book.price}]]</td>
				<td>[[${book.description}]]</td>
				<td>[[${book.image}]]</td>
				<td>[[${book.imagePath}]]</td>
			</tr>		
		</table>
		
	</div>

	<div th:replace="commonspace :: footer" />
</body>

</html>