<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - Book Quest')" />
	<link rel="stylesheet" th:href="@{/css/bookdetail.css}" />
	<script type="text/javascript" th:src="@{/js/bookdetail.js}"></script>

</head>

<body>
	<div th:replace="commonspace :: menu" />
	<div class="container">
		<p>2. 북디테일 페이지에서 <br>
			구매하기,장바구니 버튼<br>
			매장에서 구매하기(재고 없읍이 비활성화), 장바구니, 판매하기 버튼 위치하기<br>
			1:1거래는 다른 페이지 에서<br>
			중고로 구매하기 최상(20%)할인률 상(40%)할인 가격<br>

			별점은 토탈 평균으로 보여지게<br>
			리뷰 및 별점 남기기는 북디테일에서 보여지게<br></p>

		<hr>

		<div class="container">
			<div id="bundleBooks">
				<div id="book" th:each="book : ${bookdetail}">

					<img style="max-width: 150px; border-radius: 20px;" th:src="@{${book.imagePath}}"
						tilte="${book.image}">
					<div th:text="${book.title}" />
					<div th:text="${book.author}" />
					<div th:text="${book.publisher}" />
					<div th:text="${book.publicationDate}" />
					<div th:text="${book.description}" />
					<div th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + '원'}"
						style="float: right; text-align: right; color: mediumpurple;" />
					[[${branchmsg}]]
					<th:block th:each="bookbranch : ${bookbranch}">
						<div th:if="${bookbranch!=null}" th:text="재고수량+${bookbranch.quantity}+권" />
						<div th:text="${bookbranch.branches.branchName}" />
					</th:block>
				</div>
			</div>

			<hr>
			[[${rmsg}]]
			<form th:action="@{/cart/save}" th:object="${cart}" method="POST">
				<input type="text" id="number" th:name="number" value="1">
				<input type="button" value="+" onclick="increment()"></input>
				<input type="button" value="-" onclick="decrement()"></input>
				<input type="hidden" th:value="${book.bookId}" name="book" />
				<button type="submit">장바구니담기</button>
			</form>

			<form th:action="@{|/order/buy|}" method="POST">
				<input type="hidden" name="book" th:value="${book.bookId}" />
				<input type="text" id="bookquantity" th:name="bookquantity" value="1">
				<input type="button" value="+" onclick="incrementbook()"></input>
				<input type="button" value="-" onclick="decrementbook()"></input>
				<button type="submit">구매하기</button>
			</form>
			
			<div th:if="${check=='a'}">
				<form th:action="@{/wishlist/save}" th:object="${wishlist}" method="POST">
					<input type="hidden" th:value="${book.bookId}" name="book" />
					<button type="submit">찜취소</button>
				</form>
			</div>
			<div th:if="${check=='b'}">
				<form th:action="@{/wishlist/save}" th:object="${wishlist}" method="POST">
					<input type="hidden" th:value="${book.bookId}" name="book" />
					<button type="submit">찜하기</button>
				</form>
			</div>

			<form th:action="@{/book/review}" th:object="${review}" method="POST"
				style="max-width: 600px; margin: 0 auto;">
				<input type="hidden" th:value="${book.bookId}" name="book" />


				<table>
					<tr>
						<td>정가</td>
						<td><b>최상</b>매입가</td>
						<td><b>상</b>매입가</td>
						<td rowspan='2'><button>중고로 판매하기</button></td>
					</tr>
					<tr>
						<td>
							<div th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + '원'}" />
						</td>
						<td>
							<div
								th:text="${#numbers.formatDecimal(book.price*(1-0.4), 0, 'COMMA', 0, 'POINT') + '원'}" />
						</td>
						<td>
							<div
								th:text="${#numbers.formatDecimal(book.price*(1-0.6), 0, 'COMMA', 0, 'POINT') + '원'}" />
						</td>
					</tr>
				</table>

				<table>
					<tr>
						<td>정가</td>
						<td><b>최상</b>구매가</td>
						<td><b>상</b>구매가</td>
						<td rowspan='2'><button>중고로 구매하기</button></td>
					</tr>
					<tr>
						<td>
							<div th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + '원'}" />
						</td>
						<td>
							<div
								th:text="${#numbers.formatDecimal(book.price*(1-0.2), 0, 'COMMA', 0, 'POINT') + '원'}" />
						</td>
						<td>
							<div
								th:text="${#numbers.formatDecimal(book.price*(1-0.4), 0, 'COMMA', 0, 'POINT') + '원'}" />
						</td>
					</tr>
				</table>
				<form th:action="@{/book/review}" th:object="${review}" method="POST"
					style="max-width: 600px; margin: 0 auto;">
					<input type="hidden" th:value="${book.bookId}" name="book" />

					<div class="border border-secondary rounded p-3">
						평균 별점 : [[${avgstar}]]

						<div th:if="${avgstar >=0 and avgstar < 1}">
							<span class="star">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
						</div>
						<div th:if="${avgstar >=2 and avgstar < 3}">
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
						</div>
						<div th:if="${avgstar >=3 and avgstar < 4}">
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
						</div>
						<div th:if="${avgstar >=4 and avgstar < 5}">
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="unstar">&#x2605;</span>
						</div>
						<div th:if="${avgstar ==5}">
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
							<span class="star">&#x2605;</span>
						</div>
						<div id="star">
							<fieldset>
								<span class="text-bold">별점을 선택해주세요</span>
								<input type="radio" th:field="*{starRating}" value=5 id="rate1"><label
									for="rate1">★</label>
								<input type="radio" th:field="*{starRating}" value=4 id="rate2"><label
									for="rate2">★</label>
								<input type="radio" th:field="*{starRating}" value=3 id="rate3"><label
									for="rate3">★</label>
								<input type="radio" th:field="*{starRating}" value=2 id="rate4"><label
									for="rate4">★</label>
								<input type="radio" th:field="*{starRating}" value=1 id="rate5"><label
									for="rate5">★</label>
							</fieldset>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">comment: </label>
							<div class="col-8">
								<input type="text" th:field="*{comment}" class="form-control" />
							</div>
						</div>


						<button type="submit" class="btn btn-primary">Save</button>
				</form>
				<input type="button" id="buttonCancel" value="Cancel" class="btn btn-outline-secondary mb-4 col-3 m-3">
				<hr>


				<th:block th:each="reivews:${reviewdetail}">
					<table border="1">
						<tr>
							<th>별점</th>
							<th>comment</th>
						</tr>
						<tr>
							<td th:if="${reivews.starRating==1}">
								<span class="star">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
							</td>
							<td th:if="${reivews.starRating==2}">
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
							</td>
							<td th:if="${reivews.starRating==3}">
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
							</td>
							<td th:if="${reivews.starRating==4}">
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="unstar">&#x2605;</span>
							</td>
							<td th:if="${reivews.starRating==5}">
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
								<span class="star">&#x2605;</span>
							</td>
							<td th:text="${reivews.comment}"></td>
						</tr>
					</table>

					<hr>

				</th:block>

				<hr>


				</th:block>
		</div>
</body>

</html>