<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Cart')" />
	<link rel="stylesheet" th:href="@{/css/cart.css}" />

	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />

</head>
<script>

	$(document).ready(function () {
		var checkbox = document.querySelectorAll('input[type=checkbox]');
		const upbutton = document.getElementsByClassName("UpBtn");


		for (var i = 0; i < checkbox.length; i++) {
			checkbox[i].addEventListener('change', () => {
				for (var j = 0; j < upbutton.length; j++) {
					upbutton[j].disabled = !checkbox[j].checked;
				}
			});

		}

		var checkbox = document.querySelectorAll('input[type=checkbox]');
		const downbutton = document.getElementsByClassName("DownBtn");
		for (var i = 0; i < checkbox.length; i++) {
			checkbox[i].addEventListener('change', () => {
				for (var j = 0; j < downbutton.length; j++) {
					downbutton[j].disabled = !checkbox[j].checked;
				}
			});

		}

	});
	function agreeCheck(frm) {
		if (frm.checkButton.disabled == true)
			frm.checkButton.disabled = false
		else
			frm.checkButton.disabled = true
	}


	$(document).ready(function () {

		$(".UpBtn").click(function () {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			cartId = this.value;
			bookPrice = $("#price" + cartId).text();
			strbookPrice = bookPrice.replace(",", "").replace("원", "");
			totalPriceForBuy = $("#totalprice" + cartId).text();
			strtotalPriceForBuy = totalPriceForBuy.replace(",", "").replace("원", "");
			bookPriceint = parseInt(strbookPrice, 10);
			totalPriceForBuyint = parseInt(strtotalPriceForBuy, 10);
			totalcompletePrice = bookPriceint + totalPriceForBuyint;
			lastComplet = totalcompletePrice.toLocaleString();
			plusprice = $("#totalPriceForlast").text().replace(",", "").replace("원", "");
			pluspriceint = parseInt(plusprice, 10);
			console.log("pluspriceint=" + pluspriceint);
			console.log("pluspriceinttype=" + typeof pluspriceint);
			pluspriceComplete = pluspriceint + bookPriceint;
			$.ajax({
				type: 'POST',       // 요청 메서드
				url: '/BookQuest/up',  // 요청 URI
				headers: {"content-type": "application/json"}, // 요청 헤더
				dataType: 'json', // 전송받을 데이터의 타입
				data: JSON.stringify(cartId),
				beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
				success: function (result) {
					bookQuantity = JSON.parse(result);    // 서버로부터 응답이 도착하면 호출될 함수
					//   alert("수량이 " + result + "권으로 변경 되었습니다 ");        // result는 서버가 전송한 데이터
					$("#quantity" + cartId).text(bookQuantity);
					$("#totalprice" + cartId).text(lastComplet + '원');
					$("#totalPriceForBuy").text(lastComplet + '원');
					$("#totalPriceForlast").text(pluspriceComplete.toLocaleString() + "원");
					$("#totalPriceAndDelivery").text(pluspriceComplete.toLocaleString() + "원");
				},

				error: function () {alert("error")} // 에러가 발생했을 때, 호출될 함수
			}); // $.ajax()

		});

	});


	$(document).ready(function () {

		$(".DownBtn").click(function () {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			cartId = this.value;
			bookPrice = $("#price" + cartId).text();
			console.log(bookPrice);
			strbookPrice = bookPrice.replace(",", "").replace("원", "");
			totalPriceForBuy = $("#totalprice" + cartId).text();
			strtotalPriceForBuy = totalPriceForBuy.replace(",", "").replace("원", "");
			bookPriceint = parseInt(strbookPrice, 10);
			totalPriceForBuyint = parseInt(strtotalPriceForBuy, 10);
			totalPriceForBuyint = parseInt(totalPriceForBuy.replace(",", "").replace("원", ""), 10);
			totalcompletePrice = totalPriceForBuyint - bookPriceint;
			lastComplet = totalcompletePrice.toLocaleString();
			minusprice = $("#totalPriceForlast").text().replace(",", "").replace("원", "");
			minuspriceint = parseInt(minusprice, 10);
			minuspriceComplete = minuspriceint - bookPriceint;
			$.ajax({
				type: 'POST',       // 요청 메서드
				url: '/BookQuest/down',  // 요청 URI
				headers: {"content-type": "application/json"}, // 요청 헤더
				dataType: 'json', // 전송받을 데이터의 타입
				data: JSON.stringify(cartId),
				beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
				success: function (result) {

					bookQuantity = JSON.parse(result);
					if (bookQuantity == -1) {
						alert("이미 최소 수량입니다");
						return;
					}

					//alert("수량이 " + result + "권으로 되었습니다 ");       // result는 서버가 전송한 데이터
					$("#quantity" + cartId).text(bookQuantity);
					$("#totalprice" + cartId).text(lastComplet + '원');
					$("#totalPriceForBuy").text(lastComplet + '원');
					$("#totalPriceForlast").text(minuspriceComplete.toLocaleString() + "원");
					$("#totalPriceAndDelivery").text(minuspriceComplete.toLocaleString() + "원");
				},
				error: function () {alert("error")} // 에러가 발생했을 때, 호출될 함수
			}); // $.ajax()

		});

	});


	function validForm() {
		var checkboxes = document.querySelectorAll('input[type=checkbox]');
		var checked = false;
		for (var i = 0; i < checkboxes.length; i++) {
			if (checkboxes[i].checked) {
				checked = true;
				break;
			}
		}
		if (!checked) {
			alert("한 가지의 상품을 선택해주세요");
			return false;
		}
		return true;
	}
	function toggleSelect() {
		// 체크박스 요소를 모두 선택합니다.
		const checkboxes = document.querySelectorAll('input[type="checkbox"]');
		let allChecked = true;
		checkboxes.forEach((checkbox) => {
			if (!checkbox.checked) {
				allChecked = false;
			}
		});
		if (allChecked) {
			// 모든 체크박스가 선택된 상태이면 모두 선택 해제합니다.
			checkboxes.forEach((checkbox) => {
				checkbox.checked = false;
			});
			document.querySelector("#selectAll").textContent = '전체 선택';
			$("#totalPriceForlast").text(0 + "원");
			$("#totalPriceAndDelivery").text(0 + "원");

		} else {
			// 모든 체크박스가 선택되지 않은 상태이면 모두 선택합니다.
			let priceArr = [];
			checkboxes.forEach((checkbox) => {
				totalpricecomplete = 0;
				checkbox.checked = true;
				var totalprice = $("#totalprice" + checkbox.value).text();

				strtotalPrice = totalprice.replace(",", "").replace("원", "");
				totalpriceint = parseInt(strtotalPrice);
				priceArr.push(totalpriceint);
			});

			let totalPriceComplete = 0;
			for (let i = 0; i < priceArr.length; i++) {
				totalPriceComplete += priceArr[i];
			}

			document.querySelector("#selectAll").textContent = '전체 해제';
			$("#totalPriceForlast").text(totalPriceComplete.toLocaleString() + "원");
			$("#totalPriceAndDelivery").text(totalPriceComplete.toLocaleString() + "원");
		}
	}
	$(document).ready(function () {

		$(".myCheckbox").click(function () {
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			let arr = [];
			$("input:checkbox[name=selectItem]:checked").each(function () {
				var checkVal = $(this).val();
				arr.push(checkVal);
			});
			console.log(arr);

			$.ajax({
				type: 'POST',       // 요청 메서드
				url: '/BookQuest/price',  // 요청 URI

				headers: {"content-type": "application/json"}, // 요청 헤더
				dataType: 'json', // 전송받을 데이터의 타입
				data: JSON.stringify(arr),
				beforeSend: function (xhr) {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
				},
				success: function (result) {

					totalPrice = JSON.parse(result);
					$("#totalPriceForlast").text(totalPrice.toLocaleString() + "원");
					$("#totalPriceAndDelivery").text(totalPrice.toLocaleString() + "원");

				},
				error: function () {alert("error")} // 에러가 발생했을 때, 호출될 함수
			}); // $.ajax()

		});
	});


</script>

<body>

	<div th:replace="commonspace :: menu" />


	<div id="container">
		<div id="left">
			<form th:action="@{/order/buyselect}" method="post" onsubmit="return validForm()">
				<div th:each="cart:${cartList}">
					<input class="myCheckbox" type="checkbox" th:name="selectItem" th:value="${cart.cartId}" checked />
					<div id="book" th:each="book:${cart.book}">

						[[${book.bookId}]]
						<a th:href="@{/book/detail(book=${book.bookId})}">
							<img th:src="@{${book.imagePath}}" tilte="${book.image}">
						</a>
						<div>
							<div th:text="${book.title}" />
							<div th:if="${book.discountRate =='0'}" th:id="|price${cart.cartId}|"
								th:value="${cart.book.price}">
								<div
									th:text="${#numbers.formatDecimal(cart.book.price, 0, 'COMMA', 0, 'POINT') + '원'}" />
							</div>
							<div th:if="${book.discountRate !='0'}" th:id="|price${cart.cartId}|"
								th:value="${cart.book.price*(1-cart.book.discountRate*0.01)}">
								<div
									th:text="${#numbers.formatDecimal(cart.book.price*(1-cart.book.discountRate*0.01), 0, 'COMMA', 0, 'POINT') + '원'}" />
							</div>
							<div th:id="|quantity${cart.cartId}|" th:value="${cart.bookQuantity}">
								[[${cart.bookQuantity}]]</div>
							<div th:if="${book.discountRate =='0'}" th:id="|totalprice${cart.cartId}|">
								[[${#numbers.formatDecimal(cart.book.price*cart.bookQuantity, 0, 'COMMA', 0, 'POINT') +
								'원'}]]

							</div>
							<div th:if="${book.discountRate !='0'}" th:id="|totalprice${cart.cartId}|">
								[[${#numbers.formatDecimal(cart.book.price*(1-cart.book.discountRate*0.01)*cart.bookQuantity,
								0, 'COMMA', 0, 'POINT') + '원'}]]

							</div>
							<button class="UpBtn" type="button" th:value="${cart.cartId}">Up</button>
							<button class="DownBtn" type="button" th:value="${cart.cartId}">Down</button>

							<a class="btn btn-danger m-3" th:href="@{|/cart/delete/${cart.cartId}|}">삭제하기</a>
						</div>

					</div>
				</div>



		</div>

		<div id="right">


			<div class="text-center">
				<h3>주문 금액 <br><span id="totalPriceForlast">[[${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0,
						'POINT') + '원'}]]</span> </h3>

				<div th:id="myDiv"></div>
				<div>배송 금액 : 무료</div>
				<hr>
				총 결제 금액 : <span id="totalPriceAndDelivery"> [[${#numbers.formatDecimal(totalPrice, 0, 'COMMA', 0,
					'POINT') + '원'}]] </span>
				<br>
				<input type="submit" value="선택항목 구매하기" class="btn btn-primary m-3">
			</div>

			</form>
			<div class="text-center">
				<button id="selectAll" onclick="toggleSelect()">전체 해제</button>
			</div>
		</div>

	</div>







</body>

</html>