<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - Book Quest')" />
</head>

<body>
	<div th:replace="commonspace :: menu" />
	
	<div class="container">
		<div class="form-group row">
			<label class="col-4 col-form-label">Category: </label>
			<div class="col-8">
				<div class="form-control">
					<th:block th:each="cat : ${listCategories}">
						<a th:href="@{/book(category=${cat.categoryId})}">[[${cat.name}]][[${cat.pureNotation}]]</p>
					</th:block>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="commonspace :: footer" />
</body>

</html>