<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - Book Quest')" />
	<link rel="stylesheet" th:href="@{/css/category.css}" />

</head>

<body>
	<div th:replace="commonspace :: menu" />

	<div class="container">

		<div id="mainArea">
			<div id="categoriesMenu">
				<label> Category: </label>
				<div th:each="cat : ${listCategories}">
					<a th:href="@{/book(category=${cat.categoryId})}" style="font-size: 0.8rem;">
						[[${cat.name}]]
					</a>
				</div>
			</div>

			<div id="bookList">
				<div>
					<h2>도서 찾기</h2>
				</div>
				<div id="bundleBooks">
					<div id="book" th:each="book : ${books}">
						<a th:href="@{/book/detail(book=${book.bookId})}">
							<img th:src="@{${book.imagePath}}" tilte="${book.image}">
							<div th:text="${book.title}" />
							<div th:text="${book.author}" />
							<div th:text="${book.publisher}" />
							<div th:text="${book.publicationDate}" />
							<div th:text="${book.description}" />
							<div th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + '원'}" />
						</a>
							<form th:action="@{/cart/save}" th:object="${cart}" method="POST">
								<input type="hidden" th:value="1" name="number" />
								<input type="hidden" th:value="${book.bookId}" name="book" />
								<button type="submit">장바구니담기</button>
							</form>

							<form th:action="@{|/order/buy|}" method="POST">
								<input type="hidden" name="book" th:value="${book.bookId}" />
								<input type="hidden" name="bookquantity" th:value="1" />
								<button type="submit">구매하기</button>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="commonspace :: footer">

</body>

</html>