<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - Book Quest')" />
</head>

<body>
	<div th:replace="commonspace :: menu" />

	<h1 th:if="${user != null}"><span th:text="${user.name}"></span>님의 <br> 마이페이지입니다.</h1>
	<!--<p th:if="${user != null}">Your email address is <span th:text="${user.email}"></span>.</p>-->

	<table>
		<thead>
			<tr>
				<th>책 제목</th>
				<th>책 수량</th>
				<th>가격</th>
				<th>카테고리</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="orderDetail : ${orderDetails}">
				<td th:text="${orderDetail.book.title}"></td>
				<td th:text="${orderDetail.orderQuantity}"></td>
				<td th:text="${orderDetail.price}"></td>
				<td th:text="${orderDetail.book.category.name}"></td>

			</tr>
		</tbody>
	</table>
	
		<img th:src="@{/images/myPage.png}" style="width:100%;" />

</body>

</html>