<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - Book Quest')" />
	<link rel="stylesheet" th:href="@{/css/newBookRegisteringAndRevising.css}" />
	<script type="text/javascript" th:src="@{/js/newBookRegisteringAndRevising.js}"/>

	<script type="text/javascript">

	</script>

</head>

<body>
	<div th:replace="commonspace :: menu" />

	<div class="container">

		<form th:action="@{/admin/saveBookInformation}" th:object="${registering}" method="POST" enctype="multipart/form-data"
			onsubmit="return checkNameUnique(this)">

			<h2>
				<div th:text="${bookId == null} ? '신간도서 등록하기' : '책정보 수정하기'" />
			</h2>

			<hr>

			<input type="hidden" th:field="*{bookId}" />

			<div>
				<label for="image">책표지 업로드</label>
				<div>
					<input type="hidden" th:field="*{image}" />
					<img id="thumbnail" alt="Book Cover preview" th:src="@{${registering.imagePath}}" />
					<input type="file" id="bookCover" name="uploadBookCover" accept="image/png,image/jpeg"
						th:required="${registering.image == null}" />
				</div>
			</div>

			<div>책정보</div>

			<table>
				<tr>
					<th><label for="title">책 제목</label></th>
					<td>
						<input type="text" th:field="*{title}" placeholder="책 제목" required>
					</td>
					<th><label for="author">저자</label></th>
					<td>
						<input type="text" th:field="*{author}" placeholder="저자" required>
					</td>
				</tr>
				<tr>
					<th><label>카테고리</label></th>
					<td><select th:field="*{category}" required>
							<option value="" hidden>카테고리</option>
							<th:block th:each="category : ${categoryList}">
								<option th:value="${category.categoryId}" th:disabled="${category.parent == null}">
									[[${category.name}]]</option>
							</th:block>
						</select>
					</td>
					<th><label for="publisher">출판사</label></th>
					<td>
						<input type="text" th:field="*{publisher}" placeholder="출판사" required>
					</td>
				</tr>
				<tr>
					<th><label for="price">판매가</label></th>
					<td>
						<input type="number" th:field="*{price}" placeholder="판매가" required>
					</td>
					<th><label for="publicationDate">출판날짜</label></th>
					<td>
						<input type="text" th:field="*{publicationDate}" placeholder="출판날짜" required>
					</td>
				</tr>
				<tr th:if="${bookId != null}">
					<th><label for="discountRate">할인률</label></th>
					<td>
						<input type="number" th:field="*{discountRate}" placeholder="할인률 %"
							th:disabled="${bookId ==null}" />
					</td>
				</tr>
				<tr>
					<th><label for="description">책 소개</label></th>
					<td colspan='3'><textarea id="description" th:field="*{description}" placeholder="책소개" rows="5"
							required /></td>
				</tr>
			</table>

			<div id="buttonArea">
				<button type="submit">
					<div th:if="${bookId == null}">등록완료</div>
					<div th:if="${bookId != null}">수정완료</div>
				</button>
				<a th:href="@{/}" id="cancelButton">Cancel</a>
				<a th:if="${bookId != null}" th:href="@{/admin/deleteBookInformation/{bookId}(bookId=${bookId})}"
					id="deleteButton">삭제하기</a>
			</div>

		</form>
	</div>

	<div th:replace="commonspace :: footer" />
</body>

</html>