<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('Home - orderDetails')" />
</head>


<body>
	<div th:replace="commonspace :: menu" />
	<div class="container">

		<div th:each="order:${orderDetails}">
			<hr>
			ORDER >>>>>>
			<hr>
			<div th:each="orders:${order}">
				<table border="1">
					<tr>
						<th>ID</th>
						<th>order</th>
						<th>book</th>
						<th>Quantity</th>
						<th>price</th>
					</tr>
					<tr>
						<td th:text="${orders.orderDetailId}"></td>
						<td
							th:text="${orders.order.orderId}+|+${orders.order.orderDate}+${orders.order.totalPrice}+${orders.order.address}+${orders.order.deliveryStatus}">
						</td>
						<td th:text="${orders.book}"></td>
						<td th:text="${orders.orderQuantity}"></td>
						<td th:text="${orders.price}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	</div>

	<div th:replace="commonspace :: footer" />

</body>

</html>