<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<head th:replace="commonspace :: page_head('buyInfoDetails')" />
	<link rel="stylesheet" th:href="@{/css/orderbuy.css}" />
	<script type="text/javascript" th:src="@{/js/orderbuy.js}"></script>
	
</head>

<body>

	<div>
		<div th:replace="commonspace :: menu" />
		<div>
			<h2>주문과정</h2>
		</div>
		<hr>

		<div style="text-align: center ;">주문 상품 정보</div>
		<div id="container">



			<div id="left" style="text-align: right ;">
				<div th:each="book:${bookdetail}">
					[[${book.title}]]<br>
					[[${book.price}]]
				</div>
			</div>
			<div id="right" style="text-align: center ;">
				<div th:each="bookquantity:${bookquantity}">
					[[${bookquantity}]]
				</div>
			</div>
		</div>
	</div>
	<div style="text-align: center ;">총액 : [[${totalPrice}]]</div>
	<br><br><br>
	<div style="text-align: center ;">배송지 정보 입력</div>

	<form th:action="@{/order/orderbuy}" th:object="${orders}" method="post">
		<div th:each="book:${bookdetail}">
			<input type="hidden" th:value="${book.bookId}" name="bookId" />
		</div>
		<div th:each="bookquantitys:${bookquantity}">
			<input type="hidden" th:value="${bookquantitys}" name="bookquantity" />
		</div>
		<input type="hidden" th:field="*{orderId}" />
		<input type="hidden" th:value="${totalPrice}" name="totalPrice" />


		<table id="orderTable">
			<tr>
				<th><label>배송지선택</label></th>
			</tr>
			<tr>
				<th><label for="user.name">주문인</label></th>
				<td><input type="text" th:field="*{user.name}" /></td>
				</td>
			</tr>
			<tr>
				<th><label for="address">주소</label></th>
				<td><input type="text" th:field="*{address}" /></td>
			</tr>
			<tr>
				<th><label for="user.phone">휴대전화번호</label></th>
				<td><input type="text" th:field="*{user.phone}" /></td>
				</td>
			</tr>
		</table>

		<div style="text-align: center ;"><label for="payment.paymentId">payMent: </label>
			<th:block th:each="payment: ${paymentList}">
				<input type="checkbox" th:field="*{payment}" th:value="${payment.paymentId}"
					th:text="${payment.bank}" />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</th:block>
		</div>

		<div class="text-center">
			<input type="submit" value="Save" onclick="return validateForm()">
			<input type="button" value="Cancel" id="buttonCancel" />
		</div>
		</div>
	</form>


	<img th:src="@{/images/examplerediRectbuy.jpg}" style="width:100%;" />

	<div th:replace="commonspace :: footer" />
</body>

</html>