<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	
	<head th:replace="commonspace :: page_head('buyInfoDetails')" />

</head>

<div>
	<div th:replace="commonspace :: menu" />
	
	<div class="container">
		
	<div><h2>주문과정</h2></div>
	<hr>
	<div>주문 상품 정보</div>
	
	<div th:each="book:${bookdetail}">
		<table border="1">
			<tr>
				<th>상품명</th>
				<th>가격</th>
				<th>수량</th>
			</tr>
			<tr>
				<td th:text="${book.title}"></td>
				<td th:text="${book.price}"></td>
				<td th:id="${book.discountRate == null or book.discountRate == 0} ? '' : 'preDiscountPrice'"
					th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + '원'}" /></td>
				<td th:unless="${book.discountRate == null  or book.discountRate == 0}"
					th:text="'→ ' + ${#numbers.formatDecimal(book.price*(100-book.discountRate)/100, 0, 'COMMA', 0, 'POINT') + '원'} +' ('+ ${book.discountRate} + '% 할인)'" /></td>
			</tr>
		</table>
	</div>

	
	
	</div>

	<form th:action="@{/book/orderbuy}" th:object="${orders}" method="post" style="max-width: 700px; margin: 0 auto;">
		<input type="hidden" th:field="*{orderId}" />
		<input type="hidden" th:value="${book.bookId}" name="bookId" />
		<input type="hidden" th:value="${bookquantity}" name="bookquantity" />
		<div class="border border-secondary rounded p-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">User_Info </label>
				<div class="col-sm-8">
					<th:text="${user}" th:value="${user}" class="m-2" />

					[[${user}]]

				</div>
			</div>

			<div class="form-group row">
				<label class="col-4 col-form-label">address </label>
				<div class="col-sm-8">
					<input type="text" th:field="*{address}" class="form-control" required minlength="8"
						maxlength="128" />
				</div>
			</div>


			<div class="form-group row">
				<label class="col-4 col-form-label">total_Price </label>
				<div class="col-sm-8">
					<th:text="${book.price}" class="m-2">[[${book.price}*${bookquantity}]]</th:text>
						<input type="hidden" th:value="${book.price}*${bookquantity}" name="totalPrice" />
				</div>
			</div>




			<div class="form-group row">
				<label class="col-4 col-form-label">payMent: </label>
				<div class="col-sm-8">
					<th:block th:each="payment: ${paymentList}">
						<input type="checkbox" th:field="*{payment}" th:text="${payment.bank}"
							th:value="${payment.paymentId}" class="m-2" />
						<br />
					</th:block>
				</div>


				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3">
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
				</div>
			</div>
	</form>
	
	</div>
	
	<img th:src="@{/images/examplerediRectbuy.jpg}" style="width:100%;" />
	
	<div th:replace="commonspace :: footer" />
</body>

</html>